<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 全局的映射器启用缓存 -->
		<setting name="cacheEnabled" value="true"/>
		<setting name="useGeneratedKeys" value="true"/>
		<!-- 配置默认的执行器，REUSE 执行器重用预处理语句 -->
		<setting name="defaultExecutorType" value="REUSE"/>
		<!-- 全局启用延迟加载 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<!-- 设置超时时间 -->
		<setting name="defaultStatementTimeout" value="25000"/>
	</settings>
	
	<mappers>
        <!--自动扫描包内的Mapper接口与配置文件 -->
        <mapper resource="feed\web\dao\mapper\UserInfoMapper.xml"></mapper>
        <mapper resource="feed\web\dao\mapper\UserRelationMapper.xml"></mapper>
    </mappers>
</configuration>
