<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="feed.web.dao.UserInfoDao">
	<resultMap id="userInfoMap" type="feed.web.model.po.UserInfoPo">
		<id property="userId" column="user_id" javaType="int"></id>
		<result property="userName" column="user_name" javaType="string"></result>
		<result property="msgCount" column="msg_count" javaType="int"></result>
		<result property="fansCount" column="fans_count" javaType="int"></result>
		<result property="followCount" column="follow_count" javaType="int"></result>
	</resultMap>
	

	<!-- 添加用户信息 -->
	<insert id="add">
		insert into
		t_user_info(user_id,user_name)
		values(#{userId},#{userName})
	</insert>

	<!-- 根据用户名获取用户信息 -->
	<select id="get" parameterType="string" resultMap="userInfoMap">
		select * from
		t_user_info
		where user_name = #{userName}
	</select>

	<!-- 更新用户信息 -->
	<update id="update">
		update
		t_user_info
		set
		user_name = #{userInfo.userName}
		where user_id = #{_userId}
	</update>
	
	<!-- 粉丝数累加1 -->
	<update id="fansIncrement" parameterType="int">
		update
		t_user_info
		set
		fans_count = fans_count + 1
		where user_id = #{userId}
	</update>
	
	<!-- 粉丝数递减1 -->
	<update id="fansDecrement" parameterType="int">
		update
		t_user_info
		set
		fans_count = fans_count - 1
		where user_id = #{userId}
	</update>
	
	<!-- 关注数累加1 -->
	<update id="followIncrement" parameterType="int">
		update
		t_user_info
		set
		follow_count = follow_count + 1
		where user_id = #{userId}
	</update>
	
	<!-- 关注数递减1 -->
	<update id="followDecrement" parameterType="int">
		update
		t_user_info
		set
		follow_count = follow_count - 1
		where user_id = #{userId}
	</update>
	

</mapper>
