<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="feed.web.dao.UserInfoDao">
	<resultMap id="userInfoMap" type="feed.web.model.po.UserInfoPo">
		<id property="userId" column="user_id" javaType="int"></id>
		<result property="userName" column="user_name" javaType="string"></result>
		<result property="msgCount" column="msg_count" javaType="int"></result>
		<result property="fansCount" column="fans_count" javaType = "int"></result>
		<result property="followCount" column="follow_count" javaType = "int"></result>
	</resultMap>
	
	<insert id="add">
		insert into
		t_user_info(user_id,user_name)
		values(userId,userName)
	</insert>
</mapper>
